
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları</h1>
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info">Statik Excel Raporları</a>
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-info">Tur Rotaları Excel Raporları</a>
