
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Çoklu Dil Desteği</h1>


    <div class="align-items-center">
        <h6>@localizer["Merhaba"]</h6>
    </div>


