
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <a href="/Member/Dashboard/Index/?culture=tr" class="btn btn-outline-info">TR</a>
                <a href="/Member/Dashboard/Index/?culture=en" class="btn btn-outline-info">EN</a>
            </div>
            
            
        </div>
    </div>
</nav>
