<div class="col-12 col-xl-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Rezervasyon Bilgileri</h6>
        </div>
        <br />
        <div class="card-body p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder">Bu alan dashboard üzerinde rezervasyon bilgilerini gösterir. Onay bekleyen, geçmiş rezervasyonlarınız, veya aktif rezervasyonlarınız sayısını buradan görebilirsiniz.</h6>
            <br />
            <p>Aktif Rezervasyonlar: @ViewBag.v</p>
            <p>Onay Bekleyen Rezervasyonlar: @ViewBag.v1</p>
            <p>Geçmiş Rezervasyonlar: @ViewBag.v2</p>
        </div>
    </div>
</div>
