
@{
    ViewData["Title"] = "GetByIdCity";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Şehir Ara</h1>
<hr />
<form method="post">
    <div class="input-group">
        <input type="text" name="search" placeholder="şehirde hotel ara..." class="form-control" />
        <button class="btn btn-primary">Ara</button>
    </div>
</form>
<hr />
