@model VisitorViewModel
@{
    ViewData["Title"] = "AddVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api ile Ziyaretçi Ekleme</h1>

<br />

<form method="post">

    <label class="form-label">Ziyaretçi Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />

    <label class="form-label">Ziyaretçi Soyadı</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />

    <label class="form-label">Ziyaretçi Mail Adresi</label>
    <input type="text" class="form-control" asp-for="Mail" />
    <br />

    <label class="form-label">Ziyaretçi Şehri</label>
    <input type="text" class="form-control" asp-for="City" />
    <br />

    <label class="form-label">Ziyaretçi Ülkesi</label>
    <input type="text" class="form-control" asp-for="Country" />
    <br />

    <button type="submit" class="btn btn-outline-primary">Ziyaretçi Kaydet</button>
</form>