@model GetDestinatonByIdQueryResult
@{
    ViewData["Title"] = "GetDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tur Lokasyon Verileri Sayfası</h1>

<h4>@Model.City</h4>
<h4>@Model.Daynight</h4>
<h4>@Model.Price</h4>
<h4>@Model.Capacity</h4>
